<section class="footer-bottom border-top row" >
<div class="container py-3 my-3" >
	<div class="row">
		<div class="col-md-3">
		<h5>Info & Guide</h5>
		<ul class="nav flex-column">
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fas fa-exclamation"></i>
				Tentang Kami
			</a>
			</li>
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fas fa-shopping-cart"></i>
				Cara Pemesanan
			</a>
			</li>
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fas fa-truck"></i>
				Pegiriman
			</a>
			</li>
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fas fa-comment-dots"></i>
				Komentar
			</a>
			</li>
			<!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li> -->
		</ul>
		</div>

		<div class="col-md-3">
		<h5>Find Us</h5>
		<ul class="nav flex-column">
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
				<i class="fab fa-facebook" style="color: blue;"></i>
				Facebook
			</a></li>
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fab fa-instagram" style="color: rgb(255, 0, 85);"></i>
				Instagram
			</a>
			</li>
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fab fa-telegram-plane" style="color: rgb(68, 140, 235);"></i>
				Telegram
			</a>
			</li>
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fab fa-youtube" style="color: red;"></i>
				You Tube
			</a>
			</li>
			<li class="nav-item mb-2">
			<a href="#" class="nav-link p-0 text-muted">
				<i class="fab fa-twitter" style="color: rgb(9, 177, 255);"></i>
				Twiter
			</a>
			</li>
		</ul>
		</div>

		<div class="col-md-6 ">
		<div class="">
			<h4>Ar Rasyiid</h4>
			<ul class="nav flex-column">
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
				<i class='fas fa-map-marker-alt' style="color: rgb(255, 123, 0);" width="16" height="16"></i>
				Jl. Kebon Melati 1, Kb. Melati, Kecamatan Tanah Abang, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10230 <br>Mall Thamrind City, Lantai 3, Block 9, No.2
			</a>
			</li>
			<li class="nav-item mb-2">
				<a href="tel:+6287818811742" class="nav-link p-0 text-muted">
				<i class="fas fa-phone"></i>
				+62 813-8082-9724
				</a>
			</li>
			<li class="nav-item mb-2">
				<a href="#" class="nav-link p-0 text-muted">
					<i class="fab fa-whatsapp"  style="color: rgb(59, 219, 59);"></i>
					+62 812-1114-3508
				</a>
			</li>
			<li class="nav-item mb-2">
				<a href="#" class="nav-link p-0 text-muted">
					<i class="fas fa-envelope-square" style="color: rgb(243, 69, 0);"></i>
					arrasyiid@gmail.com
				</a>
			</li>
			<li class="nav-item mb-4">
				<a href="#" class="nav-link p-0 text-muted">
					<i class="far fa-calendar-alt" style="color: rgb(83, 83, 223);"></i>
					08:00-17:00 WIB (Senin-Minggu)
				</a>
			</li>
			</ul>
		</div>
		</div>
	</div>
</div>
</section>
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top" >  
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-3">
				<p class="text-muted"><i class="fa fa-copyright"></i> 2023 Ar-Rasyiid Official Store </p>
			</div>
			<div class="col-md-7 text-md-center">
				<span  class="px-2">info@pixsellz.io</span>
				<span  class="px-2">+879-332-9375</span>
				<span  class="px-2">Street name 123, Avanue abc</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
